
body {
    margin: 0;
}

h1 {
    color: red;
}

h2 {
    color:brown; 
}

header {

    background-color: blanchedalmond;
    height: 100px;
    white-space: 0;
}

img {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

 .link1:hover {
    background-color: blueviolet;
}

.link2:hover {
    background-color: blueviolet;
}

nav li {
    background-color: aquamarine;
    display: inline-block;
    text-decoration: none;
    
  }